/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid gray;
  background-color: white;
}

.nav {
  flex: 1;
}

a {
  color: black;
  text-decoration: none;
}

.nav a {
  padding: 15px;
}

.nav img {
  height: 80px;
}

.nav-center{
  text-align: center;
}
.nav-left {
  font-weight: bold;
  font-size: 14.25px;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-right a {
  font-weight: bold;
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 5px;
  margin-left: 10px;
}

main {
  /* padding-top: 160px; */
  /* width: 80%;
  max-width: 1200px; */
  margin: 160px auto 0 auto;
}

h1 {
  padding-left: 150px;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 15px;
  width: 60%;
}

.about-article {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

.about-article img {
  max-width: 100%;
}

.about-article p {
  max-width: 75%;
  font-size: 13px;
  color: #565656;
  margin-top: 10px;
}

.about-article p span {
  color: gray;
  font-size: 12px;
  padding-left: 4px;
}

.article {
  margin: 50px auto 0 auto;
  /* width: 80%; */
}

.author {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
}

.author a {
  text-decoration: underline;
}
.icons {
  float: right;
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #dcdcdc;
  border-radius: 50%;
}

.article-preface {
  width: 80%;
  max-width: 750px;
  margin: 0 auto 35px auto;
}

.body {
  /* width: 80%;
  max-width: 750px; */
  margin: 0 auto;
  font-size: 15px;s
}

.body p {
  width: 80%;
  max-width: 750px;
  margin: 0 auto 1.4em auto;
}

p.bold {
  font-weight: bold;
}

aside {
  width: 250px;
  height: 100%;
  float: right;
  margin-right: 8%;
  display: flex;
  align-content: center;
}

.editor-picks p {
  padding-bottom: 15px;
  border-bottom: 1px solid gray;

}

.grid-picks {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 2fr;
  grid-gap: 10px;
  align-items: center;
}

img.grid-item {
  height: 70px;
  width:  70px;
}

a.grid-item:hover {
  text-decoration: underline;
}

.signup-ST {
  flex-direction: column;
}

.signup-ST div {
  width: 100%;
}

.signup-ST p {
  margin-left: 0
}

.signup-ST div a {
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 5px;
}

.inflation {
  margin: 0 auto
}

.heading-footing {
  font-size: 85%;
  color: #4e4e4e;
}

.inflation-grid {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* justify-content: center;
  align-content: center; */
  margin-bottom: 20px;
}

.inflation-grid > * {
  width: 100%;
}

.inflation-grid span {
  font-weight: bold;
  padding-right: 5px;
}

.inflation-grid p {
  margin: 0;
}

.player {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.player p {
  margin: 0;
  color: #4e4e4e;
}

#video {
  width: 750px;
  height: 447.5px;
  margin-bottom: 20px;
}

.button {
  font-weight: bold;
  color: white;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 5px;
  padding: 10px 100px;
}

#version {
  margin-bottom: 15px;
}

.comments {
  width: 80%;
  max-width: 750px;
  margin: 35px auto;
}

footer {
  width: 80%;
  margin: 0 auto;
}

.foot-links {
  display: flex;
  justify-content: space-between;
}

#logo-link {
  height: 60px;
}

.flex-menu{
  width: 100%;
  margin: 0 auto;
  display: flex;

}

.flex-menu > * {
  flex: 1;
}

.flex-menu span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.flex-menu a {
  display: block;
  margin-bottom: 5px;
}
